<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Europeana Linked Data Pilot Servlet</display-name>

	<servlet>
		<servlet-name>EuropeanaLODServlet</servlet-name>
		<servlet-class>eu.europeana.lod.data.EuropeanaLODServlet</servlet-class>
		<init-param>
			<param-name>sparqlEndpoint</param-name>
			<param-value>http://europeana.ontotext.com/sparql</param-value>
		</init-param>
		<init-param>
			<param-name>website</param-name>
			<param-value>http://pro.europeana.eu/linked-open-data</param-value>
		</init-param>
		<init-param>
			<param-name>resourcePrefix</param-name>
			<param-value>http://data.europeana.eu</param-value>
		</init-param>
		<init-param>
			<param-name>voidFile</param-name>
			<param-value>/void.ttl</param-value>
		</init-param>
	</servlet>
	 
	<servlet-mapping>
    	<servlet-name>EuropeanaLODServlet</servlet-name>
    	<url-pattern>/*</url-pattern>
  	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/void.ttl</url-pattern>
	</servlet-mapping>

	<mime-mapping>
		<extension>ttl</extension>
		<mime-type>text/turtle</mime-type>
	</mime-mapping>

</web-app>
